# **DS 6001: Lab Assignment 2**
## Randa Ampah

## *Problem 1*

In [2]:
import pandas as pd
import numpy as np
import os

os.chdir('/Users/randap/Desktop/MSDS/Fall25/DS6001/labs/lab data')

### Part A

In [6]:
column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low",
 "Dystopia (1.92) + residual", "Explained by: GDP per capita",
 "Explained by: Social support", "Explained by: Healthy life expectancy",
 "Explained by: Freedom to make life choices", "Explained by: Generosity",
 "Explained by: Perceptions of corruption" ]

data_clean = pd.read_csv('data_clean.csv')

data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

### Part B

In [18]:
# data1 = pd.read_csv('data1.csv')
data1 = pd.read_csv('data1.csv', header=2)
data1.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

Originally, the dataset did not load correctly. The first 2 rows were informational and not part of the data, but the default for loading csv's is to use the first row as the header. To fix that error, we added the header parameter and set it equal to 2 to use the 3rd row containing the column names.

### Part C

In [39]:
# data2 = pd.read_csv('data2.txt')
data2 = pd.read_csv('data2.txt', header=2, skiprows=[3])
data2.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

We decided to use header and skiprows because the row we needed for the column names wasn't the first row and we needed to skip the 4th row due to formatting of the document.

### Part D

In [42]:
#data3 = pd.read_csv('data3.txt')
data3 = pd.read_csv('data3.txt', delim_whitespace=True, header=2)
data3.head()

/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_61556/897544914.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data3 = pd.read_csv('data3.txt', delim_whitespace=True, header=2)

,Country,Happiness,score,Whisker-high,Whisker-low,Dystopia,(1.92),+,residual,Explained,...,life.1,choices,Explained.4,by:.4,Generosity,Explained.5,by:.5,Perceptions,of,corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Norway,7.594,7.657,7.53,2.383,1.456,1.582,0.861,0.686,0.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Switzerland,7.487,7.57,7.405,2.320,1.420,1.549,0.927,0.660,0.256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This txt file was not comma separated, so we had to use the delim_whitespace parameter and set it equal to True, since the column values were separated by spaces.

### Part E

In [44]:
#data4 = pd.read_csv('data4.txt')
data4 = pd.read_csv('data4.txt', sep='$',names=column_names)
data4.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

This dataset had no column names, so we had to apply the list from the beginning as the header. It also was separated by dollar signs, so we had to used sep = "$" to change the delimiter.

### Part F

In [46]:
#data5 = pd.read_csv('data5.csv')
data5 = pd.read_csv('data5.csv', skipfooter=2)
data5.tail()

/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_61556/1289507354.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data5 = pd.read_csv('data5.csv', skipfooter=2)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

This dataset had unwanted rows at end, so we had to use the skipfooter parameter to remove the 2 rows at the end.

### Part G

In [48]:
# data6 = pd.read_csv('data6.dat')
data6 = pd.read_csv('data6.dat',na_values=[999])
data6.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,NaN,NaN,NaN,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,NaN,NaN,1.582,NaN,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,NaN,0.683,0.284,0.408
3,Iceland,7.495,7.593,NaN,2.426,1.343,1.644,0.914,0.677,0.353,NaN
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

We decided to use the na_values parameter to recognize the 999 values as missing values, because some softwares don't have a specific type of data for missing values so they use numbers sometimes.

### Part H

In [53]:
# data7 = pd.read_excel('data7.xlsx')
data7 = pd.read_excel('data7.xlsx', sheet_name='Data')

data7.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

In [51]:
data7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

Microsoft excel gives users the ability to have multiple sheets within a singular comma separated file (csv). This led to an error when trying to read in the data, thus we had to use the parameter sheet_name to properly load in the data. The sheet_name parameter specifies which sheet you want to open which allowed us to properly load in the dataset.

### Part I

In [57]:
data8 = pd.read_stata('data8.dta')
data8.head()

,country,happinessscore,whiskerhigh,whiskerlow,dystopia192residual,explainedbygdppercapita,explainedbysocialsupport,explainedbyhealthylifeexpectancy,explainedbyfreedomtomakelifechoi,explainedbygenerosity,explainedbyperceptionsofcorrupti
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

In [56]:
data8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           156 non-null    object
 1   happinessscore                    156 non-null    float32
 2   whiskerhigh                       156 non-null    float32
 3   whiskerlow                        156 non-null    float32
 4   dystopia192residual               156 non-null    float32
 5   explainedbygdppercapita           156 non-null    float32
 6   explainedbysocialsupport          156 non-null    float32
 7   explainedbyhealthylifeexpectancy  156 non-null    float32
 8   explainedbyfreedomtomakelifechoi  156 non-null    float32
 9   explainedbygenerosity             156 non-null    float32
 10  explainedbyperceptionsofcorrupti  156 non-null    float32
dtypes: float32(10), object(1)
memory usage: 7.4+ KB

The dataset loaded correctly. The only differences between this csv and the clean one is that the numberic columns are saved as float32 instead of float64 and that the column names were formatted differently (all lowercase, no spaces or special characters)

### Part J

In [58]:
data9 = pd.read_spss('data9.sav')
data9.head()

,country,happiness,whiskerhigh,whiskerlow,dystopia,gdpPC,socsupport,lifeexp,lifechoice,generous,corrupt
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

This dataset loaded correctly. The column names just formatted differently (all lowercase, no spaces or special characters).

In [59]:
data9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      156 non-null    object
 1   happiness    156 non-null    float64
 2   whiskerhigh  156 non-null    float64
 3   whiskerlow   156 non-null    float64
 4   dystopia     156 non-null    float64
 5   gdpPC        156 non-null    float64
 6   socsupport   156 non-null    float64
 7   lifeexp      156 non-null    float64
 8   lifechoice   156 non-null    float64
 9   generous     156 non-null    float64
 10  corrupt      156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

In [60]:
data9.tail()

,country,happiness,whiskerhigh,whiskerlow,dystopia,gdpPC,socsupport,lifeexp,lifechoice,generous,corrupt
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

### Part K

In [62]:
data10 = pd.read_sas('data10.xpt', encoding='latin-1')
data10.head()

,COUNTRY,HAPPINES,WHISKERH,WHISKERL,DYSTOPIA,EXPLAINE,EXPLAIN2,EXPLAIN3,EXPLAIN4,EXPLAIN5,EXPLAIN6
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

In [63]:
data10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COUNTRY   156 non-null    object
 1   HAPPINES  156 non-null    float64
 2   WHISKERH  156 non-null    float64
 3   WHISKERL  156 non-null    float64
 4   DYSTOPIA  156 non-null    float64
 5   EXPLAINE  156 non-null    float64
 6   EXPLAIN2  156 non-null    float64
 7   EXPLAIN3  156 non-null    float64
 8   EXPLAIN4  156 non-null    float64
 9   EXPLAIN5  156 non-null    float64
 10  EXPLAIN6  156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

This dataset loaded correctly. The column names just formatted differently (all uppercase, no special characters).

### Part L

In [4]:
d11_widths = pd.read_csv('data11_width - Sheet1.csv')
d11_widths

    Feature  Width
0         1     24
1         2      5
2         3      5
3         4      5
4         5      5
5         6      5
6         7      5
7         8      5
8         9      5
9        10      5
10       11      5

In [9]:

data11 = pd.read_fwf('data11.txt', widths= d11_widths['Width'], names=column_names)
data11.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

In [11]:
data11.to_csv('/Users/randap/Desktop/MSDS/Fall25/DS6001/labs/lab data/data11.csv')

## *Problem 2*

### Part A

In [19]:
epa = pd.read_excel('epa_data.xlsx', sheet_name=None)
epa

{'CALE 2010':      Year Species    site  Plot  Trt        Treatment  pods  sqrtpods  cover0  \
 0    2010    CALE  Hyslop     4    6      Roundup 0.1   1.0  1.000000       1
 1    2010    CALE  Hyslop    12    7   Rdup/Bnvl 0.01   6.0  2.449490       2
 2    2010    CALE  Hyslop    13    5     Roundup 0.01   8.0  2.828427       2
 3    2010    CALE  Hyslop    15    1  Carrier Control   3.0  1.732051       1
 4    2010    CALE  Hyslop    17    3      Banvel 0.01   0.0  0.000000       1
 ..    ...     ...     ...   ...  ...              ...   ...       ...     ...
 123  2010    CALE  Botany   382    8    Rdup/Bnvl 0.1   6.0  2.449490       1
 124  2010    CALE  Botany   384    1  Carrier Control   NaN       NaN       1
 125  2010    CALE  Botany   388    3      Banvel 0.01   8.0  2.828427       2
 126  2010    CALE  Botany   399    8    Rdup/Bnvl 0.1  12.0  3.464102       1
 127  2010    CALE  Botany   400    2         No Spray   0.0  0.000000       1

      arsincover0  ...  arsincover3  matureseeds  logmatureseeddw  \
 0       0.100167  ...     0.141897       0.0957        -1.019043
 1       0.141897  ...     0.100167       0.3863        -0.413064
 2       0.141897  ...     0.141897       0.2806        -0.551897
 3       0.100167  ...     0.100167       0.0662        -1.179076
 4       0.100167  ...     0.141897       0.0000        -5.000000
 ..           ...  ...          ...          ...              ...
 123     0.100167  ...     0.000000       0.0116        -1.935168
 124     0.100167  ...          NaN          NaN              NaN
 125     0.141897  ...     0.141897       0.4597        -0.337516
 126     0.100167  ...     0.100167       0.2130        -0.671600
 127     0.100167  ...     0.141897       0.0000        -5.000000

      immatureseeddw  logimmatureseeddw  totalseeddw  logtotalseeddw  \
 0            0.0000          -5.000000       0.0957       -1.019043
 1            0.0041          -2.386158       0.3904       -0.408479
 2            0.0031          -2.507240       0.2837       -0.547125
 3            0.0001          -3.958607       0.0663       -1.178421
 4            0.0000          -5.000000       0.0000       -5.000000
 ..              ...                ...          ...             ...
 123          0.0020          -2.696804       0.0136       -1.866142
 124             NaN                NaN          NaN             NaN
 125          0.0004          -3.387216       0.4601       -0.337138
 126          0.0068          -2.166853       0.2198       -0.657953
 127          0.0000          -5.000000       0.0000       -5.000000

      percentimmatureseed  arsinpercentimmatureseed  \
 0               0.000000                  0.000000
 1               1.050205                  0.102660
 2               1.092704                  0.104724
 3               0.150830                  0.038847
 4                    NaN                       NaN
 ..                   ...                       ...
 123            14.705882                  0.393564
 124                  NaN                       NaN
 125             0.086938                  0.029489
 126             3.093722                  0.176810
 127                  NaN                       NaN

                                         Final Comments
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 123                                 Died after harvest
 124  Cover 3 missing, missing at seed collection an...
 125                                                NaN
 126                                                NaN
 127                                                NaN

 [128 rows x 21 columns],
 'CALE 2011':     Species  Year    site  Plot  trt        Treatment  cover0  arsincover0  \
 0      CALE  2011  Hyslop     2    6      Roundup 0.2     0.2     0.044736
 1      CALE  2011  Hyslop     6    1  Carrier Control     0.7     0.083764
 2      CALE  2011  Hyslop    12    4       Banvel 0.2     0.7     0.083764
 3      CALE  2011  Hyslop    13    2         No Spray     0.6     0.077537
 4      CALE  2011  Hyslop    17    2         No Spray     0.5     0.070770
 ..      ...   ...     ...   ...  ...              ...     ...          ...
 123    CALE  2011  Botany   370    8    Rdup+Bnvl 0.2     1.0     0.100167
 124    CALE  2011  Botany   377    3       Banvel 0.1     4.0     0.201358
 125    CALE  2011  Botany   379    4       Banvel 0.2     0.5     0.070770
 126    CALE  2011  Botany   380    2         No Spray     0.3     0.054800
 127    CALE  2011  Botany   382    4       Banvel 0.2     0.2     0.044736

      cover3  arsincover3  ...  logmatureseed+0.00001  immatureseedw  \
 0       0.3     0.054800  ...              -5.000000         0.0000
 1       0.5     0.070770  ...              -1.109523         0.0000
 2       0.5     0.070770  ...              -1.535958         0.0000
 3       0.3     0.054800  ...              -0.710166         0.0008
 4       0.5     0.070770  ...              -0.686112         0.0011
 ..      ...          ...  ...                    ...            ...
 123     0.2     0.044736  ...              -1.476124         0.0060
 124     3.0     0.174083  ...              -0.125338         0.0098
 125     0.4     0.063288  ...              -5.000000         0.0000
 126     0.3     0.054800  ...              -0.922959         0.0003
 127     0.0     0.000000  ...              -5.000000         0.0000

      logimmatureseed+0.00001  totalseeddw  totalseeddw+0.00001  \
 0                  -5.000000       0.0000            -5.000000
 1                  -5.000000       0.0777            -1.109523
 2                  -5.000000       0.0291            -1.535958
 3                  -3.091515       0.1957            -0.708387
 4                  -2.954677       0.2071            -0.683799
 ..                       ...          ...                  ...
 123                -2.221126       0.0394            -1.404394
 124                -2.008331       0.7591            -0.119695
 125                -5.000000       0.0000            -5.000000
 126                -3.508638       0.1197            -0.921870
 127                -5.000000       0.0000            -5.000000

      percentimmatureseed  arsinpercentimmatureseed  biomass  logbiomass  \
 0                    NaN                       NaN    0.079   -1.101824
 1               0.000000                  0.000000    0.469   -0.328735
 2               0.000000                  0.000000    0.399   -0.398918
 3               0.408789                  0.063980    0.460   -0.337148
 4               0.531144                  0.072944    0.301   -0.521289
 ..                   ...                       ...      ...         ...
 123            15.228426                  0.400888    0.585   -0.232770
 124             1.291003                  0.113868    1.215    0.084612
 125                  NaN                       NaN    0.137   -0.862963
 126             0.250627                  0.050084    0.212   -0.673459
 127                  NaN                       NaN    0.000   -4.000000

              Final Comments
 0    Leaves only at harvest
 1                       NaN
 2                       NaN
 3                       NaN
 4                       NaN
 ..                      ...
 123                     NaN
 124                     NaN
 125  Leaves only at harvest
 126                     NaN
 127    No plant at harvest

 [128 rows x 23 columns],
 'ELGL 2010':      Year Species    site  plot  trt       Treatment  panicles  sqrtpanicles  \
 0    2010    ELGL  Botany   300    2        No Spray      63.0      7.937254
 1    2010    ELGL  Hyslop    13    5    Roundup 0.01      40.0      6.324555
 2    2010    ELGL  Hyslop   188    5    Roundup 0.01      16.0      4.000000
 3    2010    ELGL  Botany   206    7  Rdup/Bnvl 0.01      89.0      9.433981
 4    2010    ELGL  Hyslop   114    2        No Spray       1.0      1.000000
 ..    ...     ...     ...   ...  ...             ...       ...           ...
 123  2010    ELGL  Botany   314    3     Banvel 0.01       0.0      0.000000
 124  2010    ELGL  Hyslop    36    7  Rdup/Bnvl 0.01      14.0      3.741657
 125  2010    ELGL  Hyslop   181    5    Roundup 0.01       NaN           NaN
 126  2010    ELGL  Botany   302    3     Banvel 0.01       NaN           NaN
 127  2010    ELGL  Botany   375    3     Banvel 0.01       NaN           NaN

      cover0  arsincover0  ...  arsincover5  matureseeddw  logmatureseeddw  \
 0      11.0     0.338065  ...     0.201358        9.3072         0.968820
 1      13.0     0.368863  ...     0.174083       10.1722         1.007415
 2       2.0     0.141897  ...     0.100167        2.4754         0.393647
 3      40.0     0.684719  ...     0.321751       22.0009         1.342441
 4       2.0     0.141897  ...     0.100167        0.3969        -0.401310
 ..      ...          ...  ...          ...           ...              ...
 123     1.0     0.100167  ...     0.000000        0.0000        -5.000000
 124     5.0     0.225513  ...     0.141897        2.3142         0.364403
 125     NaN          NaN  ...          NaN           NaN              NaN
 126     NaN          NaN  ...          NaN           NaN              NaN
 127     NaN          NaN  ...          NaN           NaN              NaN

      immatureseeddw  logimmatureseeddw  totalseeddw  logtotalseeddw  \
 0            0.2161           -0.66533       9.5233        0.978788
 1            0.3724           -0.42898      10.5446        1.023031
 2            0.0909           -1.04139       2.5663        0.409309
 3            0.8098           -0.09162      22.8107        1.358139
 4            0.0154           -1.81220       0.4123       -0.384780
 ..              ...                ...          ...             ...
 123          0.0000           -5.00000       0.0000       -5.000000
 124             NaN                NaN          NaN             NaN
 125             NaN                NaN          NaN             NaN
 126             NaN                NaN          NaN             NaN
 127             NaN                NaN          NaN             NaN

      percentimmatureseeds  arsinpercentimmatureseeds  \
 0                2.269171                   0.151213
 1                3.531665                   0.189051
 2                3.542064                   0.189333
 3                3.550088                   0.189550
 4                3.735144                   0.194489
 ..                    ...                        ...
 123                   NaN                        NaN
 124                   NaN                        NaN
 125                   NaN                        NaN
 126                   NaN                        NaN
 127                   NaN                        NaN

                                         Final Comments
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 123                                                NaN
 124  Omitted immature seed dry weight, could not ve...
 125              Omitted plant, replaced before season
 126              Omitted plant, replaced before season
 127                Omitted plant, likely wrong species

 [128 rows x 21 columns],
 'ELGL 2011':     species  year    site  Plot  trt        Treatment  cover0  arsincover0  \
 0      ELGL  2011  Hyslop     2    6      Roundup 0.2     2.0     0.141897
 1      ELGL  2011  Hyslop     6    1  Carrier Control     5.0     0.225513
 2      ELGL  2011  Hyslop    12    4       Banvel 0.2     3.0     0.174083
 3      ELGL  2011  Hyslop    13    2         No Spray     3.0     0.174083
 4      ELGL  2011  Hyslop    17    2         No Spray     3.0     0.174083
 ..      ...   ...     ...   ...  ...              ...     ...          ...
 123    ELGL  2011  Botany   370    8    Rdup+Bnvl 0.2     5.0     0.225513
 124    ELGL  2011  Botany   377    3       Banvel 0.1     1.0     0.100167
 125    ELGL  2011  Botany   379    4       Banvel 0.2    11.0     0.338065
 126    ELGL  2011  Botany   380    2         No Spray    16.0     0.411517
 127    ELGL  2011  Botany   382    4       Banvel 0.2     2.0     0.141897

      cover5  arsincover5  ...  immatureseedw  logimmaturelseeddw  totalseeddw  \
 0       1.5     0.122783  ...         0.2891           -0.538937       0.3349
 1       3.0     0.174083  ...         1.2271            0.088883       2.1883
 2       1.0     0.100167  ...         0.4125           -0.384566       1.7940
 3       1.5     0.122783  ...         0.1286           -0.890725       1.6282
 4       1.0     0.100167  ...         0.0809           -1.091998       1.6346
 ..      ...          ...  ...            ...                 ...          ...
 123     2.0     0.141897  ...         0.4070           -0.390395       0.4844
 124     0.5     0.070770  ...         0.0111           -1.954286       0.1509
 125     3.5     0.188192  ...         0.3074           -0.512282       6.8119
 126     3.0     0.174083  ...         1.8882            0.276050       4.7093
 127     0.5     0.070770  ...         0.0002           -3.677781       0.0468

      logtotalseeddw  percentimmatureseeds  arsinpercentimmatureseeds  biomass  \
 0         -0.475072             86.324276                   1.191995     18.6
 1          0.340109             56.075492                   0.846304    105.4
 2          0.253825             22.993311                   0.500100     18.7
 3          0.211710              7.898293                   0.284877     14.9
 4          0.213414              4.949223                   0.224346     12.1
 ..              ...                   ...                        ...      ...
 123       -0.314787             84.021470                   1.159572     21.1
 124       -0.821282              7.355865                   0.274657      2.8
 125        0.833269              4.512691                   0.214062     45.2
 126        0.672957             40.095131                   0.685690     49.2
 127       -1.329661              0.427350                   0.065419      5.9

      logbiomass  Previous Treatment Comments  Final Comments
 0      1.269746                          NaN             NaN
 1      2.022882                          NaN             NaN
 2      1.272074               Rdup+Bnvl 0.01             NaN
 3      1.173478                 Roundup 0.01             NaN
 4      1.083144                  Banvel 0.01             NaN
 ..          ...                          ...             ...
 123    1.324488                          NaN             NaN
 124    0.448706                   Banvel 0.1      very small
 125    1.655235                     no spray             NaN
 126    1.692053               Rdup/Bnvl 0.01             NaN
 127    0.771587                Rdup/Bnvl 0.1             NaN

 [128 rows x 24 columns],
 'ERLA 2010':     species    site  year  plot  trt       treatment   cover0  arsincover0  \
 0      ERLA  Hyslop  2010     4    6      Roundup 0.1     8.0     0.286757
 1      ERLA  Hyslop  2010    12    7   Rdup/Bnvl 0.01    18.0     0.438149
 2      ERLA  Hyslop  2010    13    5     Roundup 0.01    20.0     0.463648
 3      ERLA  Hyslop  2010    15    1  Carrier Control    10.0     0.321751
 4      ERLA  Hyslop  2010    17    3      Banvel 0.01    10.0     0.321751
 ..      ...     ...   ...   ...  ...              ...     ...          ...
 123    ERLA  Botany  2010   382    8    Rdup/Bnvl 0.1    25.0     0.523599
 124    ERLA  Botany  2010   384    1  Carrier Control    12.0     0.353742
 125    ERLA  Botany  2010   388    3      Banvel 0.01    15.0     0.397699
 126    ERLA  Botany  2010   399    8    Rdup/Bnvl 0.1    20.0     0.463648
 127    ERLA  Botany  2010   400    2         No Spray    23.0     0.500180

      cover3  arsincover3  ...  matureseeddw  logmatureseeddw  immatureseeddw  \
 0      10.0     0.321751  ...        0.1609        -0.793417          0.1470
 1      38.0     0.664215  ...        3.4780         0.541331          2.9332
 2      15.0     0.397699  ...        3.9010         0.591177          1.3113
 3      20.0     0.463648  ...        0.9749        -0.011035          0.4166
 4      19.0     0.451027  ...        0.2694        -0.569586          0.3957
 ..      ...          ...  ...           ...              ...             ...
 123    50.0     0.785398  ...        0.7591        -0.119695          1.5414
 124    25.0     0.523599  ...        0.1285        -0.891063          1.3154
 125    20.0     0.463648  ...           NaN              NaN             NaN
 126    22.0     0.488205  ...        0.0845        -1.073092          0.2890
 127    35.0     0.633052  ...       11.2460         1.050998          4.7878

      logimmatureseeddw  totalseeddw  logtotalseeddw  percentimmatureseeds  \
 0            -0.832653       0.3079       -0.511576             47.742774
 1             0.467343       6.4112        0.806940             45.751185
 2             0.117705       5.2123        0.717030             25.157800
 3            -0.380270       1.3915        0.143486             29.938915
 4            -0.402623       0.6651       -0.177107             59.494813
 ..                 ...          ...             ...                   ...
 123           0.187918       2.3005        0.361824             67.002825
 124           0.119061       1.4439        0.159540             91.100492
 125                NaN          NaN             NaN                   NaN
 126          -0.539087       0.3735       -0.427698             77.376171
 127           0.680137      16.0338        1.205037             29.860669

      arsinpercentimmatureseeds  Previous Year Treatment Comments  \
 0                     0.762818                          no spray
 1                     0.742859                               NaN
 2                     0.525419                               NaN
 3                     0.578973                               NaN
 4                     0.880926                               NaN
 ..                         ...                               ...
 123                   0.958887                               NaN
 124                   1.267864                               NaN
 125                        NaN                               NaN
 126                   1.075099                               NaN
 127                   0.578119                               NaN

                                         Final Comments
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 123                                                NaN
 124                                                NaN
 125  Omitted seedhead number or weights, could not ...
 126                                                NaN
 127                                                NaN

 [128 rows x 24 columns],
 'ERLA 2011':     species     site  year  plot  trt       treatment   cover0  arsincover0  \
 0      ERLA  Botany   2011   210    1  carrier control     0.5     0.070770
 1      ERLA  Botany   2011   224    1  carrier control     1.0     0.100167
 2      ERLA  Botany   2011   225    1  carrier control    17.0     0.424989

In [20]:
epa['CALE 2011']

,Species,Year,site,Plot,trt,Treatment,cover0,arsincover0,cover3,arsincover3,...,logmatureseed+0.00001,immatureseedw,logimmatureseed+0.00001,totalseeddw,totalseeddw+0.00001,percentimmatureseed,arsinpercentimmatureseed,biomass,logbiomass,Final Comments
0,CALE,2011,Hyslop,2,6,Roundup 0.2,0.2,0.044736,0.3,0.054800,...,-5.000000,0.0000,-5.000000,0.0000,-5.000000,NaN,NaN,0.079,-1.101824,Leaves only at harvest
1,CALE,2011,Hyslop,6,1,Carrier Control,0.7,0.083764,0.5,0.070770,...,-1.109523,0.0000,-5.000000,0.0777,-1.109523,0.000000,0.000000,0.469,-0.328735,NaN
2,CALE,2011,Hyslop,12,4,Banvel 0.2,0.7,0.083764,0.5,0.070770,...,-1.535958,0.0000,-5.000000,0.0291,-1.535958,0.000000,0.000000,0.399,-0.398918,NaN
3,CALE,2011,Hyslop,13,2,No Spray,0.6,0.077537,0.3,0.054800,...,-0.710166,0.0008,-3.091515,0.1957,-0.708387,0.408789,0.063980,0.460,-0.337148,NaN
4,CALE,2011,Hyslop,17,2,No Spray,0.5,0.070770,0.5,0.070770,...,-0.686112,0.0011,-2.954677,0.2071,-0.683799,0.531144,0.072944,0.301,-0.521289,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,CALE,2011,Botany,370,8,Rdup+Bnvl 0.2,1.0,0.100167,0.2,0.044736,...,-1.476124,0.0060,-2.221126,0.0394,-1.404394,15.228426,0.400888,0.585,-0.232770,NaN
124,CALE,2011,Botany,377,3,Banvel 0.1,4.0,0.201358,3.0,0.174083,...,-0.125338,0.0098,-2.008331,0.7591,-0.119695,1.291003,0.113868,1.215,0.084612,NaN
125,CALE,2011,Botany,379,4,Banvel 0.2,0.5,0.070770,0.4,0.063288,...,-5.000000,0.0000,-5.000000,0.0000,-5.000000,NaN,NaN,0.137,-0.862963,Leaves only at harvest
126,CALE,2011,Botany,380,2,No Spray,0.3,0.054800,0.3,0.054800,...,-0.922959,0.0003,-3.508638,0.1197,-0.921870,0.250627,0.050084,0.212,-0.673459,NaN
127,CALE,2011,Botany,382,4,Banvel 0.2,0.2,0.044736,0.0,0.000000,...,-5.000000,0.0000,-5.000000,0.0000,-5.000000,NaN,NaN,0.000,-4.000000,No plant at harvest

## Part B

In [22]:
epa.keys()

dict_keys(['CALE 2010', 'CALE 2011', 'ELGL 2010', 'ELGL 2011', 'ERLA 2010', 'ERLA 2011', 'FEID 2010', 'FEID 2011', 'FRVI 2010', 'FRVI 2011', 'IRTE 2010', 'IRTE 2011', 'POGR 2010', 'POGR 2011', 'PRVU 2010', 'PRVU 2011', 'RAOC 2010', 'RAOC 2011', 'Solution Chemistry', 'ReadMe'])

In [23]:
del epa['Solution Chemistry']
del epa['ReadMe']

In [24]:
epa.keys()

dict_keys(['CALE 2010', 'CALE 2011', 'ELGL 2010', 'ELGL 2011', 'ERLA 2010', 'ERLA 2011', 'FEID 2010', 'FEID 2011', 'FRVI 2010', 'FRVI 2011', 'IRTE 2010', 'IRTE 2011', 'POGR 2010', 'POGR 2011', 'PRVU 2010', 'PRVU 2011', 'RAOC 2010', 'RAOC 2011'])

## Part C

In [25]:
for df in epa.keys():
    epa[df].columns = epa[df].columns.str.lower().str.strip()

## Part D

In [27]:
big_epa = pd.concat(epa, ignore_index = True)

In [30]:
big_epa.head()

,year,species,site,plot,trt,treatment,pods,sqrtpods,cover0,arsincover0,...,totseeddw,infloroescences,sqrtinfluorescences,atypicalinfluorescences,sqrtatypicalinfluorescences,totalinflorescence,sqrttotalinfluorescences,percentatypical,arsinpercentatypical,treatment #
0,2010,CALE,Hyslop,4,6,Roundup 0.1,1.0,1.000000,1.0,0.100167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,CALE,Hyslop,12,7,Rdup/Bnvl 0.01,6.0,2.449490,2.0,0.141897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,CALE,Hyslop,13,5,Roundup 0.01,8.0,2.828427,2.0,0.141897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,CALE,Hyslop,15,1,Carrier Control,3.0,1.732051,1.0,0.100167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,CALE,Hyslop,17,3,Banvel 0.01,0.0,0.000000,1.0,0.100167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
big_epa.tail()

,year,species,site,plot,trt,treatment,pods,sqrtpods,cover0,arsincover0,...,totseeddw,infloroescences,sqrtinfluorescences,atypicalinfluorescences,sqrtatypicalinfluorescences,totalinflorescence,sqrttotalinfluorescences,percentatypical,arsinpercentatypical,treatment #
2299,2011,RAOC,Botany,370,8,Rdup+Bnvl 0.2,NaN,NaN,0.2,0.044736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2300,2011,RAOC,Botany,377,3,Banvel 0.1,NaN,NaN,0.5,0.070770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
2301,2011,RAOC,Botany,379,4,Banvel 0.2,NaN,NaN,0.3,0.054800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2302,2011,RAOC,Botany,380,2,No Spray,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2303,2011,RAOC,Botany,382,4,Banvel 0.2,NaN,NaN,0.2,0.044736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0

## Part E

In [31]:
cols_to_keep = ['year', 'species', 'site', 'plot', 'trt', 'treatment',
 'pods', 'cover0', 'arsincover0', 'cover3', 'arsincover3',
 'cover5', 'arsincover5']

big_epa.to_csv('/Users/randap/Desktop/MSDS/Fall25/DS6001/labs/lab data/big_epa.csv',columns=cols_to_keep)