# **DS 6001: Lab Assignment 8**
## **Randa Ampah**

In [3]:
import numpy as np
import pandas as pd
import sidetable
import sqlite3

## **Problem 1**

### **Part A**

I like the way that polars selects data within dataframes, only because I sometimes have trouble remembering the syntax for slicing in pandas. I also like that this structure is similar to R (specifically tidyverse), because I sometimes forget what function is used in R vs Python for functions like this.

I find the column assignment based on predicate to be interesting. Looking objectively as an outsider to both chunks of code, polars is definitely more intuitive to understand in terms of the conditional assignment structure.

### **Part B**

The best argument for pandas is that it is more established and better suited for higher level machine learning integration, as well as exploration of data, which makes is more relevant as of now.

### **Part C**

Part of a comment from a deleted user on Reddit stated "So that's what I would base my choice on. If you're interested in how big data applications handle data then I would go with Polars. If you're just interested in the practical aspect of getting something working and you want lots of resources and examples to help you use the tool, then Pandas is probably the better choice."

From what I have gathered about polars from the previous readings, I would say that I agree with this summary of the main differences between polars and pandas. A lot of the merits highlighted in the polars user guide were focused more on computation speed and efficiency, which is undoubtedly important, but is something more likely to be honed by a more established data scientist. As a beginner data scientist getting my bearings in the analytical approaches and tools utilized in the field, I would want to focus on pandas for now.

### **Part D**

Speaking to two of my classmates, they both were a bit open to learning polars. One said that she doesn't mind learning polars because it would be another tool in her arsenal, while the other said she prefers pandas for now since she isn't familiar with polars yet, but she is open to utilizing it down the line.

### **Part E**

Through exploring the merits and deficits of polars, I am intrigued by polars and I would consider learning to use it down the line, when I more regularly work with larger datasets. However, for now, I would like to focus on strengthening my pandas skills and learning to utilize it in a more efficient way, as well as with a more analytical mind.

## **Problem 2**

### **Part A**

In [5]:
url = 'https://www.cdc.gov/workplace-health-promotion/media/files/2024/06/whpps_120717.csv'
df = pd.read_csv(url, delimiter='~')
df.head()

/var/folders/1z/t_vl0dx95552hzn7xv8z08sm0000gn/T/ipykernel_1482/3374536002.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, delimiter='~')

,OC1,OC3,HI1,HI2,HI3,HI4,HRA1,HRA1A,HRA1B,HRA1E,...,WL3_05,E1_09,Suppquex,Id,Region,CDC_Region,Industry,Size,Varstrata,"Finalwt_worksite,,,,"
0,7,3.0,2.0,1.0,2.0,1.0,1.0,3.0,4.0,2.0,...,PTO,NaN,2.0,217.0,1.0,2.0,7.0,7.0,0.0,"47.793940929,,,,"
1,2,3.0,2.0,3.0,1.0,1.0,1.0,3.0,3.0,1.0,...,NaN,NaN,1.0,326.0,3.0,7.0,7.0,6.0,0.0,"47.793940929,,,,"
2,7,3.0,1.0,3.0,1.0,1.0,1.0,3.0,97.0,2.0,...,NaN,NaN,1.0,399.0,4.0,8.0,7.0,8.0,0.0,"47.793940929,,,,"
3,1,2.0,1.0,2.0,1.0,1.0,97.0,96.0,96.0,96.0,...,NaN,NaN,1.0,475.0,5.0,9.0,7.0,4.0,0.0,"47.793940929,,,,"
4,2,3.0,1.0,3.0,1.0,1.0,1.0,3.0,3.0,2.0,...,NaN,NaN,1.0,489.0,2.0,4.0,7.0,4.0,0.0,"47.793940929,,,,"

In [40]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2843 entries, 0 to 2842
Data columns (total 301 columns):
 #    Column                Dtype
---   ------                -----
 0    OC1                   object
 1    OC3                   float64
 2    HI1                   float64
 3    HI2                   float64
 4    HI3                   float64
 5    HI4                   float64
 6    HRA1                  float64
 7    HRA1A                 float64
 8    HRA1B                 float64
 9    HRA1E                 float64
 10   CP1                   float64
 11   CP2                   float64
 12   CP3                   float64
 13   CP4                   float64
 14   CP5                   float64
 15   HP1                   float64
 16   HP2                   float64
 17   HP3                   float64
 18   HP4                   float64
 19   HP5                   float64
 20   HP5A                  float64
 21   HP6                   float64
 22   HP7A                  float64
 23   HP7B                  float64
 24   HP7C                  float64
 25   HP7D                  float64
 26   HP7D1                 float64
 27   HP7D2                 float64
 28   HP7D3                 float64
 29   HP7E                  float64
 30   HP7E1                 float64
 31   HP7F                  float64
 32   HP7F1                 float64
 33   HP7F2                 float64
 34   HP7F3                 float64
 35   HP7F4                 float64
 36   HP7F5                 float64
 37   HP7F6                 float64
 38   HP7F7                 float64
 39   HP7F8                 float64
 40   HP7F9                 float64
 41   HP7F10                float64
 42   HP7F11                float64
 43   HP7G                  float64
 44   HP8                   float64
 45   HPR1_1                float64
 46   HPR1_1A               float64
 47   HPR1_1B               float64
 48   HPR1_1C               float64
 49   HPR1_2A               float64
 50   HPR1_2B               float64
 51   HPR1_2C               float64
 52   HPR1_2D               float64
 53   HPR1_2E               float64
 54   HPR1_2F               float64
 55   HPR1_2G               float64
 56   HPR1_2H               float64
 57   HPR1_2I               float64
 58   HPR1_2J               float64
 59   HPR1_2K               float64
 60   HPR2_1                float64
 61   HPR2_1A               float64
 62   HPR2_1B               float64
 63   HPR2_1C               float64
 64   HPR2_2A               float64
 65   HPR2_2B               float64
 66   HPR2_2C               float64
 67   HPR2_2D               float64
 68   HPR2_3A               float64
 69   HPR2_3B               float64
 70   HPR2_3C               float64
 71   HPR2_3D               float64
 72   HPR2_4A               float64
 73   HPR2_4B               float64
 74   HPR2_4C               float64
 75   HPR2_4D               float64
 76   HPR2_4E               float64
 77   HPR3_1                float64
 78   HPR3_1A               float64
 79   HPR3_1B               float64
 80   HPR3_1C               float64
 81   HPR3_2                float64
 82   HPR4_1                float64
 83   HPR4_1A               float64
 84   HPR4_1B               float64
 85   HPR4_1C               float64
 86   HPR4_2A               float64
 87   HPR4_2B               float64
 88   HPR4_2C               float64
 89   HPR4_2D               float64
 90   HPR4_2E               float64
 91   HPR4_2F               float64
 92   HPR4_2G               float64
 93   HPR4_2G1              float64
 94   HPR4_2G2              float64
 95   HPR4_2G3              float64
 96   HPR4_2G4              float64
 97   HPR4_2G5              float64
 98   HPR4_2G6              float64
 99   HPR4_2G7              float64
 100  HPR5_1                float64
 101  HPR5_1A               float64
 102  HPR5_1B               float64
 103  HPR6_1                float64
 104  HPR6_1A               float64
 105  HPR6_1B               float64
 106  HPR6_1C               float64
 107  HPR7_1                float64
 108  HPR7_1A               float64
 109  HPR7_1B               float64
 110  HPR7_1C               float64
 111  HPR8_1                float64
 112  HPR8_1A               float64
 113  HPR8_1B               float64
 114  HPR8_1C               float64
 115  HPR9_1                float64
 116  HPR9_1A               float64
 117  HPR9_1B               float64
 118  HPR9_1C               float64
 119  HS11                  float64
 120  HS11_2                float64
 121  HS11A                 float64
 122  HS12                  float64
 123  HS12_2                float64
 124  HS13                  float64
 125  HS13_2                float64
 126  HS14                  float64
 127  HS14_2                float64
 128  HS15                  float64
 129  HS15_2                float64
 130  HS16                  float64
 131  HS16_2                float64
 132  HS17                  float64
 133  HS17_2                float64
 134  HS18                  float64
 135  HS18_2                float64
 136  HS19                  float64
 137  HS19_2                float64
 138  HS2A                  float64
 139  HS2B                  float64
 140  HS3                   float64
 141  DM11M1                float64
 142  DM11M2                float64
 143  DM11M3                float64
 144  DM12M1                float64
 145  DM12M2                float64
 146  DM12M3                float64
 147  DM13M1                float64
 148  DM13M2                float64
 149  DM13M3                float64
 150  DM14M1                float64
 151  DM14M2                float64
 152  DM14M3                float64
 153  DM15M1                float64
 154  DM15M2                float64
 155  DM15M3                float64
 156  DM16M1                float64
 157  DM16M2                float64
 158  DM16M3                float64
 159  DM17M1                float64
 160  DM17M2                float64
 161  DM17M3                float64
 162  DM18M1                float64
 163  DM18M2                float64
 164  DM18M3                float64
 165  DM19M1                float64
 166  DM19M2                float64
 167  DM19M3                float64
 168  DM20M1                float64
 169  DM20M2                float64
 170  DM20M3                float64
 171  DM2A                  float64
 172  DM2B                  float64
 173  DM3                   float64
 174  KP2                   float64
 175  KP3_1                 float64
 176  KP3_2                 float64
 177  KP3_3                 float64
 178  KP4                   float64
 179  KP5A                  float64
 180  KP5C                  float64
 181  KP5E                  float64
 182  KP5F                  float64
 183  KP5G                  float64
 184  KP5H                  float64
 185  KP5J                  float64
 186  KP5J_01               object
 187  WL1                   float64
 188  WL2                   float64
 189  WL3M1                 float64
 190  WL3M2                 float64
 191  WL3M3                 float64
 192  WL3M4                 float64
 193  WL3M5                 float64
 194  WL5                   float64
 195  WL6                   float64
 196  WL7                   float64
 197  WL8                   float64
 198  WL9                   float64
 199  WL11                  float64
 200  WL12                  float64
 201  WL14                  float64
 202  WL15                  float64
 203  B1_1                  float64
 204  B1_2                  float64
 205  B1_3                  float64
 206  B1_4                  float64
 207  B1_5                  float64
 208  B1_6                  float64
 209  B1_7                  float64
 210  B1_8                  float64
 211  B1_9                  float64
 212  B1_10                 float64
 213  B1_11                 float64
 214  B1_12                 float64
 215  OSH1                  float64
 216  OSH2                  float64
 217  OSH3                  float64
 218  OSH4                  float64
 219  OSH5                  float64
 220  OSH6                  float64
 221  OSH7_1                float64
 222  OSH7_2                float64
 223  OSH7_3                float64
 224  E1M1                  float64
 225  E1M2                  float64
 226  E1M3                  float64
 227  E1M4                  float64
 228  E1M5                  float64
 229  E1M6                  float64
 230  E1M7                  float64
 231  E1M8                  float64
 232  E1M9                  float64
 233  E2                    float64
 234  WD1_1                 float64
 235  WD1_2                 float64
 236  WD2                   float64
 237  WD3                   float64
 238  WD4                   float64
 239  WD5                   float64
 240  WD6                   float64
 241  WD7                   float64
 242  HPR5_2A_S             float64
 243  HPR5_2B_S             float64
 244  HPR5_2C_S             float64
 245  HPR5_2D_S             float64
 246  HPR5_2E_S             float64
 247  WL1_1_S               float64
 248  WL1_2_S               float64
 249  WL1_3_S               float64
 250  WL1_4_S               float64
 251  WL1_5_S               float64
 252  HPR9_2A_S             float64
 253  HPR9_2B_S             float64
 254  HPR9_2C_S             float64
 255  HPR9_2D_S             float64
 256  HPR9_2E_S             float64
 257  HPR9_2F_S             float64
 258  HPR8_2A_S             float64
 259  HPR8_2B_S             float64
 260  HPR8_2C_S             float64
 261  HPR8_2D_S             float64
 262  HPR8_2E_S             float64
 263  HPR7_2A_S             float64
 264  HPR7_2C_S             float64
 265  HPR7_2D_S             float64
 266  HPR7_2E_S             float64
 267  HPR7_2F_S             float64
 268  HPR6_2A_S             float64
 269  HPR6_2B_S             float64
 270  HPR6_2C_S             float64
 271  HPR6_2D_S             float64
 272  HPR6_2E_S             float64
 273  OSH7_1_S              float64
 274  OSH7_2_S              float64
 275  OSH7_4_S              float64
 276  OSH7_6_S              float64
 277  OSH8_S                float64
 278  OSH81A_S              float64
 279  OSH81B_S              float64
 280  OSH81C_S              float64
 281  KP1A_S                float64
 282  KP1B_S                float64
 283  KP1C_S                float64
 284  KP1D_S                float64
 285  KP1E_S                float64
 286  KP1F_S                float64
 287  KP1G_S                float64
 288  KP1G_S_01             object
 289  HOSPITAL              float64
 290  OC1_07                object
 291  WL3_05                object
 292  E1_09                 object
 293  Suppquex              float64
 294  Id                    float64
 295  Region                float64
 296  CDC_Region            float64
 297  Industry              float64
 298  Size                  float64
 299  Varstrata             float64
 300  Finalwt_worksite,,,,  object
dtypes: float64(294), object(7)
memory usage: 6.5+ MB

The data has 2,843 rows and 301 columns. There are 294 float columns and 7 object columns.

### **Part B**

In [38]:
df.columns[df.columns.str.contains('WD')]

Index(['WD1_1', 'WD1_2', 'WD2', 'WD3', 'WD4', 'WD5', 'WD6', 'WD7'], dtype='object')

In [11]:
whpps = df[['Industry','Size','OC3','HI1','HI2','HI3','CP1',
            'WL6','WD1_1', 'WD1_2', 'WD2', 'WD3', 'WD4', 'WD5',
            'WD6', 'WD7']]
whpps.head()

,Industry,Size,OC3,HI1,HI2,HI3,CP1,WL6,WD1_1,WD1_2,WD2,WD3,WD4,WD5,WD6,WD7
0,7.0,7.0,3.0,2.0,1.0,2.0,1.0,1.0,25.0,20.0,85.0,60.0,40.0,15.0,0.0,22.0
1,7.0,6.0,3.0,2.0,3.0,1.0,1.0,1.0,997.0,997.0,90.0,90.0,997.0,997.0,0.0,997.0
2,7.0,8.0,3.0,1.0,3.0,1.0,1.0,1.0,35.0,4.0,997.0,997.0,40.0,15.0,997.0,997.0
3,7.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,50.0,15.0,50.0,85.0,75.0,0.0,0.0,997.0
4,7.0,4.0,3.0,1.0,3.0,1.0,1.0,1.0,50.0,40.0,60.0,60.0,40.0,30.0,0.0,28.0

### **Part C**

In [12]:
whpps = whpps.rename({'OC3': 'OrgStructure',
                      'HI1': 'InsFTEmp',
                      'HI2': 'InsFTPremiumChange',
                      'HI3': 'InsPTEmp',
                      'CP1': 'HealthEdOffered',
                      'WL6': 'WFHAllowed',
                      'WD1_1': 'PctEmpUnder30', 
                      'WD1_2': 'PctEmpOver60', 
                      'WD2': 'PctEmpFemale', 
                      'WD3': 'PctEmpHourly', 
                      'WD4': 'PctEmpNotDayShift', 
                      'WD5': 'PctEmpRemoteOffSite', 
                      'WD6': 'PctEmpUnion', 
                      'WD7': 'AvgYrTurnoverPct'}, axis = 1)

whpps.head()

,Industry,Size,OrgStructure,InsFTEmp,InsFTPremiumChange,InsPTEmp,HealthEdOffered,WFHAllowed,PctEmpUnder30,PctEmpOver60,PctEmpFemale,PctEmpHourly,PctEmpNotDayShift,PctEmpRemoteOffSite,PctEmpUnion,AvgYrTurnoverPct
0,7.0,7.0,3.0,2.0,1.0,2.0,1.0,1.0,25.0,20.0,85.0,60.0,40.0,15.0,0.0,22.0
1,7.0,6.0,3.0,2.0,3.0,1.0,1.0,1.0,997.0,997.0,90.0,90.0,997.0,997.0,0.0,997.0
2,7.0,8.0,3.0,1.0,3.0,1.0,1.0,1.0,35.0,4.0,997.0,997.0,40.0,15.0,997.0,997.0
3,7.0,4.0,2.0,1.0,2.0,1.0,2.0,2.0,50.0,15.0,50.0,85.0,75.0,0.0,0.0,997.0
4,7.0,4.0,3.0,1.0,3.0,1.0,1.0,1.0,50.0,40.0,60.0,60.0,40.0,30.0,0.0,28.0

### **Part D**

#### Step I

In [13]:
replace_map = {
    1:'Food, Power, Utility Acquisition and Construction',
    2:'Trade and Logistics',
    3:'Leisure and Other',
    4:'Corporate Services',
    5:'Healthcare and Education',
    6:'Public Admin',
    7:'Hospital'
}

whpps['Industry'] = whpps['Industry'].replace(replace_map)
whpps['Industry'].value_counts()

Industry
Healthcare and Education                             551
Food, Power, Utility Acquisition and Construction    525
Leisure and Other                                    433
Corporate Services                                   429
Hospital                                             338
Trade and Logistics                                  311
Public Admin                                         255
Name: count, dtype: int64

#### Step II

In [14]:
size_replace = {1: 'Small',
                2: 'Small',
                3: 'Small',
                4: 'Medium',
                5: 'Medium',
                6: 'Large',
                7: 'Large',
                8: 'Large'}

whpps['Size'] = whpps['Size'].replace(size_replace)
whpps['Size'].value_counts(dropna=False)

Size
Small     2195
Medium     393
Large      254
NaN          1
Name: count, dtype: int64

#### Step III

In [15]:
whpps.dtypes

Industry                object
Size                    object
OrgStructure           float64
InsFTEmp               float64
InsFTPremiumChange     float64
InsPTEmp               float64
HealthEdOffered        float64
WFHAllowed             float64
PctEmpUnder30          float64
PctEmpOver60           float64
PctEmpFemale           float64
PctEmpHourly           float64
PctEmpNotDayShift      float64
PctEmpRemoteOffSite    float64
PctEmpUnion            float64
AvgYrTurnoverPct       float64
dtype: object

In [16]:
replace_map = {'OrgStructure':{1:'For Profit, Public',
                               2:'For Profit, Private',
                               3:'Non-Profit',
                               4:'State or Local Government',
                               5:'Federal Government',
                               6:'Other',
                               97: np.nan,
                               98: np.nan,
                               99: np.nan},
                'InsFTEmp':  {1:'Full Insurance Offered',
                              2:'Partial Insurance Offered',
                              3:'No Insurance Offered',
                              97: np.nan,
                              98: np.nan,
                              99: np.nan},
                'InsFTPremiumChange': {1:'Larger',
                                       2:'Smaller',
                                       3:'About the Same',
                                       96: np.nan,
                                       97: np.nan,
                                       98: np.nan,
                                       99: np.nan},
                'InsPTEmp': {1:'Yes',
                             2:'No',
                             97: np.nan,
                             98: np.nan,
                             99: np.nan},
                'HealthEdOffered': {1:'Yes',
                                    2:'No',
                                    97: np.nan,
                                    98: np.nan},
                'WFHAllowed': {1:'Yes',
                               2:'No',
                               97: np.nan,
                               98: np.nan,
                               99: np.nan}
                }

whpps = whpps.replace(replace_map)

#### Step IV

In [17]:
whpps.dtypes

Industry                object
Size                    object
OrgStructure            object
InsFTEmp                object
InsFTPremiumChange      object
InsPTEmp                object
HealthEdOffered         object
WFHAllowed              object
PctEmpUnder30          float64
PctEmpOver60           float64
PctEmpFemale           float64
PctEmpHourly           float64
PctEmpNotDayShift      float64
PctEmpRemoteOffSite    float64
PctEmpUnion            float64
AvgYrTurnoverPct       float64
dtype: object

In [18]:
whpps.select_dtypes(include='float64').columns

Index(['PctEmpUnder30', 'PctEmpOver60', 'PctEmpFemale', 'PctEmpHourly',
       'PctEmpNotDayShift', 'PctEmpRemoteOffSite', 'PctEmpUnion',
       'AvgYrTurnoverPct'],
      dtype='object')

In [19]:
num_cols = whpps.select_dtypes(include='float64').columns

whpps[num_cols] = whpps[num_cols].replace([997,998,999],np.nan)

### **Part E**

In [20]:
whpps = whpps.sort_values(by=['Industry','Size','PctEmpUnder30'],
                  ascending=[True,True,False])
# truncated for sake of submission
whpps.head(10)

,Industry,Size,OrgStructure,InsFTEmp,InsFTPremiumChange,InsPTEmp,HealthEdOffered,WFHAllowed,PctEmpUnder30,PctEmpOver60,PctEmpFemale,PctEmpHourly,PctEmpNotDayShift,PctEmpRemoteOffSite,PctEmpUnion,AvgYrTurnoverPct
465,Corporate Services,Large,"For Profit, Public",Full Insurance Offered,About the Same,No,Yes,Yes,75.0,1.0,49.0,25.0,25.0,18.0,0.0,11.0
2471,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,Larger,No,Yes,Yes,70.0,30.0,NaN,NaN,20.0,3.0,0.0,NaN
1352,Corporate Services,Large,"For Profit, Private",Full Insurance Offered,About the Same,No,Yes,Yes,40.0,5.0,30.0,30.0,30.0,25.0,0.0,NaN
821,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,About the Same,No,Yes,Yes,35.0,15.0,45.0,75.0,40.0,45.0,70.0,10.0
822,Corporate Services,Large,Non-Profit,Full Insurance Offered,About the Same,No,Yes,No,34.0,10.0,86.0,88.0,NaN,1.0,1.0,NaN
1872,Corporate Services,Large,NaN,Partial Insurance Offered,Larger,No,No,No,30.0,20.0,78.0,75.0,1.0,4.0,0.0,35.0
1585,Corporate Services,Large,NaN,Partial Insurance Offered,Larger,Yes,Yes,Yes,15.0,25.0,25.0,40.0,10.0,10.0,20.0,10.0
1351,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,About the Same,No,Yes,Yes,11.0,8.0,58.0,11.0,NaN,NaN,0.0,NaN
2468,Corporate Services,Medium,"For Profit, Private",Partial Insurance Offered,About the Same,No,Yes,No,80.0,1.0,10.0,97.0,1.0,0.0,0.0,8.0
2229,Corporate Services,Medium,"For Profit, Private",Partial Insurance Offered,About the Same,Yes,No,Yes,50.0,1.0,28.0,7.0,3.0,60.0,0.0,15.0

### **Part F**

In [21]:
whpps = whpps.query('Industry.isna() == False')
len(whpps)

2842

### **Part G**

In [22]:
whpps['GenderBalance'] = pd.cut(whpps.PctEmpFemale, 
                                bins=[-0.1,35,65,100],
                                labels = ('Mostly men','Balanced','Mostly women'))

whpps['GenderBalance'].value_counts()

GenderBalance
Mostly men      733
Mostly women    727
Balanced        587
Name: count, dtype: int64

### **Part H**

In [23]:
whpps.dtypes

Industry                 object
Size                     object
OrgStructure             object
InsFTEmp                 object
InsFTPremiumChange       object
InsPTEmp                 object
HealthEdOffered          object
WFHAllowed               object
PctEmpUnder30           float64
PctEmpOver60            float64
PctEmpFemale            float64
PctEmpHourly            float64
PctEmpNotDayShift       float64
PctEmpRemoteOffSite     float64
PctEmpUnion             float64
AvgYrTurnoverPct        float64
GenderBalance          category
dtype: object

In [24]:
whpps.columns

Index(['Industry', 'Size', 'OrgStructure', 'InsFTEmp', 'InsFTPremiumChange',
       'InsPTEmp', 'HealthEdOffered', 'WFHAllowed', 'PctEmpUnder30',
       'PctEmpOver60', 'PctEmpFemale', 'PctEmpHourly', 'PctEmpNotDayShift',
       'PctEmpRemoteOffSite', 'PctEmpUnion', 'AvgYrTurnoverPct',
       'GenderBalance'],
      dtype='object')

In [25]:
cat_vars = whpps.select_dtypes(include='object').columns
cat_vars

Index(['Industry', 'Size', 'OrgStructure', 'InsFTEmp', 'InsFTPremiumChange',
       'InsPTEmp', 'HealthEdOffered', 'WFHAllowed'],
      dtype='object')

In [26]:
whpps[cat_vars] = whpps[cat_vars].astype('category')

In [27]:
whpps.dtypes

Industry               category
Size                   category
OrgStructure           category
InsFTEmp               category
InsFTPremiumChange     category
InsPTEmp               category
HealthEdOffered        category
WFHAllowed             category
PctEmpUnder30           float64
PctEmpOver60            float64
PctEmpFemale            float64
PctEmpHourly            float64
PctEmpNotDayShift       float64
PctEmpRemoteOffSite     float64
PctEmpUnion             float64
AvgYrTurnoverPct        float64
GenderBalance          category
dtype: object

In [28]:
whpps.head()

,Industry,Size,OrgStructure,InsFTEmp,InsFTPremiumChange,InsPTEmp,HealthEdOffered,WFHAllowed,PctEmpUnder30,PctEmpOver60,PctEmpFemale,PctEmpHourly,PctEmpNotDayShift,PctEmpRemoteOffSite,PctEmpUnion,AvgYrTurnoverPct,GenderBalance
465,Corporate Services,Large,"For Profit, Public",Full Insurance Offered,About the Same,No,Yes,Yes,75.0,1.0,49.0,25.0,25.0,18.0,0.0,11.0,Balanced
2471,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,Larger,No,Yes,Yes,70.0,30.0,NaN,NaN,20.0,3.0,0.0,NaN,NaN
1352,Corporate Services,Large,"For Profit, Private",Full Insurance Offered,About the Same,No,Yes,Yes,40.0,5.0,30.0,30.0,30.0,25.0,0.0,NaN,Mostly men
821,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,About the Same,No,Yes,Yes,35.0,15.0,45.0,75.0,40.0,45.0,70.0,10.0,Balanced
822,Corporate Services,Large,Non-Profit,Full Insurance Offered,About the Same,No,Yes,No,34.0,10.0,86.0,88.0,NaN,1.0,1.0,NaN,Mostly women

## **Problem 3**

### **Part A**

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
small_wfh = whpps.query("Size == 'Small' and WFHAllowed == 'Yes'")
small_wfh

,Industry,Size,OrgStructure,InsFTEmp,InsFTPremiumChange,InsPTEmp,HealthEdOffered,WFHAllowed,PctEmpUnder30,PctEmpOver60,PctEmpFemale,PctEmpHourly,PctEmpNotDayShift,PctEmpRemoteOffSite,PctEmpUnion,AvgYrTurnoverPct,GenderBalance
2444,Corporate Services,Small,"For Profit, Private",Partial Insurance Offered,About the Same,No,Yes,Yes,90.0,0.0,50.0,0.0,0.0,1.0,0.0,NaN,Balanced
2448,Corporate Services,Small,NaN,Full Insurance Offered,About the Same,Yes,NaN,Yes,90.0,1.0,40.0,95.0,0.0,0.0,NaN,5.0,Balanced
805,Corporate Services,Small,"For Profit, Private",Partial Insurance Offered,About the Same,No,No,Yes,80.0,0.0,99.0,90.0,10.0,10.0,0.0,2.0,Mostly women
2688,Corporate Services,Small,"For Profit, Private",Full Insurance Offered,About the Same,No,No,Yes,80.0,0.0,20.0,0.0,5.0,0.0,0.0,2.0,Mostly men
2214,Corporate Services,Small,NaN,Partial Insurance Offered,Smaller,No,No,Yes,75.0,4.0,16.0,28.0,NaN,0.0,0.0,NaN,Mostly men
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1768,Trade and Logistics,Small,Other,Partial Insurance Offered,NaN,Yes,NaN,Yes,NaN,NaN,15.0,80.0,NaN,NaN,NaN,NaN,Mostly men
2109,Trade and Logistics,Small,NaN,Partial Insurance Offered,Smaller,No,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2112,Trade and Logistics,Small,Other,Full Insurance Offered,About the Same,No,No,Yes,NaN,NaN,NaN,NaN,0.0,5.0,NaN,NaN,NaN
2384,Trade and Logistics,Small,NaN,NaN,NaN,Yes,Yes,Yes,NaN,NaN,NaN,20.0,NaN,NaN,NaN,1.0,NaN
2629,Trade and Logistics,Small,"For Profit, Public",Full Insurance Offered,Larger,No,Yes,Yes,NaN,2.0,15.0,NaN,NaN,90.0,0.0,15.0,Mostly men

In [31]:
small_wfh.stb.freq(['InsFTEmp'])

,InsFTEmp,count,percent,cumulative_count,cumulative_percent
0,Full Insurance Offered,324,46.285714,324,46.285714
1,Partial Insurance Offered,310,44.285714,634,90.571429
2,No Insurance Offered,66,9.428571,700,100.000000

### **Part B**

In [32]:
whppsdb = sqlite3.connect('whpps,db')

In [33]:
whpps.to_sql('whpps', whppsdb, index=False, chunksize=1000, if_exists='replace')

2842

In [34]:
# Check that database was created properly

bq = '''
SELECT *
FROM whpps
'''
pd.read_sql_query(bq,con=whppsdb).head()

,Industry,Size,OrgStructure,InsFTEmp,InsFTPremiumChange,InsPTEmp,HealthEdOffered,WFHAllowed,PctEmpUnder30,PctEmpOver60,PctEmpFemale,PctEmpHourly,PctEmpNotDayShift,PctEmpRemoteOffSite,PctEmpUnion,AvgYrTurnoverPct,GenderBalance
0,Corporate Services,Large,"For Profit, Public",Full Insurance Offered,About the Same,No,Yes,Yes,75.0,1.0,49.0,25.0,25.0,18.0,0.0,11.0,Balanced
1,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,Larger,No,Yes,Yes,70.0,30.0,NaN,NaN,20.0,3.0,0.0,NaN,None
2,Corporate Services,Large,"For Profit, Private",Full Insurance Offered,About the Same,No,Yes,Yes,40.0,5.0,30.0,30.0,30.0,25.0,0.0,NaN,Mostly men
3,Corporate Services,Large,"For Profit, Private",Partial Insurance Offered,About the Same,No,Yes,Yes,35.0,15.0,45.0,75.0,40.0,45.0,70.0,10.0,Balanced
4,Corporate Services,Large,Non-Profit,Full Insurance Offered,About the Same,No,Yes,No,34.0,10.0,86.0,88.0,NaN,1.0,1.0,NaN,Mostly women

### **Part C**

In [35]:
cq = whpps.query("Industry == 'Hospital' and InsFTPremiumChange == 'Smaller'")
cq_df = cq[['Size','OrgStructure','InsFTEmp','InsPTEmp']]
cq_df = cq_df.rename({'InsFTEmp':'Insurance'}, axis=1)
cq_df

       Size         OrgStructure                  Insurance InsPTEmp
187   Large           Non-Profit  Partial Insurance Offered      Yes
97    Large           Non-Profit  Partial Insurance Offered      Yes
214   Large           Non-Profit  Partial Insurance Offered      Yes
3    Medium  For Profit, Private     Full Insurance Offered      Yes
75   Medium           Non-Profit     Full Insurance Offered      NaN
320  Medium           Non-Profit     Full Insurance Offered      Yes
11   Medium                  NaN  Partial Insurance Offered      Yes
48   Medium           Non-Profit  Partial Insurance Offered      Yes
51   Medium           Non-Profit     Full Insurance Offered      Yes
191  Medium           Non-Profit  Partial Insurance Offered      Yes
229   Small           Non-Profit     Full Insurance Offered      Yes

### **Part D**

In [36]:
whpps.groupby('Industry').agg({'PctEmpFemale':'mean',
                               'PctEmpUnder30':'mean',
                               'PctEmpOver60':'mean'}
                               ).reset_index().sort_values(by='PctEmpFemale', ascending=False)

,Industry,PctEmpFemale,PctEmpUnder30,PctEmpOver60
2,Healthcare and Education,80.657143,25.745665,11.349570
3,Hospital,76.427027,27.213793,16.489655
4,Leisure and Other,53.804416,38.566343,11.544872
0,Corporate Services,50.632184,23.821752,12.465465
5,Public Admin,39.056738,21.015625,15.015385
6,Trade and Logistics,32.657258,29.108696,12.584034
1,"Food, Power, Utility Acquisition and Construction",20.328605,22.257143,10.690355

### **Part E**

In [37]:
eq = whpps.query("GenderBalance.isna() == False and InsFTEmp.isna() == False")
eq = eq.groupby(['GenderBalance','InsFTEmp']).size().reset_index()
eq = eq.rename({0:'Count'}, axis=1)
eq

  GenderBalance                   InsFTEmp  Count
0    Mostly men     Full Insurance Offered    301
1    Mostly men       No Insurance Offered     91
2    Mostly men  Partial Insurance Offered    332
3      Balanced     Full Insurance Offered    226
4      Balanced       No Insurance Offered     77
5      Balanced  Partial Insurance Offered    271
6  Mostly women     Full Insurance Offered    267
7  Mostly women       No Insurance Offered    107
8  Mostly women  Partial Insurance Offered    333